/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/node_modules/
/.idea/
/bin/
/tests/
/var/
/web/
phpunit.xml.dist
yarn.lock
yarn-error.log
/assets/fonts/*
/assets/dist/fonts/*
assets/dist/bootstrap/*
assets/images/*
