{% extends 'GrtResBundle::layout.html.twig' %}

{% block namepage %}
    <h3>
        {% trans %} List of all users {% endtrans %}
    </h3>
{% endblock %}

{% block body %}

    {% if locations %}
        <table class="table table-striped table-hover">
            {% block table_header %}
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название расположения</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% endblock %}
            {% block table_body %}
            <tbody>
            {% for location in locations %}
                <tr>
                    <td scope="row">{{ loop.index }}</td>
                    <td>{{ location.name }}</td>
                    <td>
                        <a href="{{ path('grt_show_users_location', { 'locationId': location.id }) }}" title="{% trans %}Show users in this location{% endtrans %}">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            {% endblock %}
        </table>
    {% else %}
        <p>{% trans %}There are no users{% endtrans %}</p>
    {% endif %}

{% endblock %}
